* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

.canvas {
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
}

/* 80px */
.font1 {
    font-size: 5rem; 
    font-weight: 900;
}
/* 70px */
.font2 {
  font-size: 4.375rem;
  font-weight: 900;  
}
/* 48px */
.font3 {
    font-size: 3rem;
    font-weight: 900;
}
/* 40px */
.font4 {
    font-size: 2.5rem;
    font-weight: 900;
}
/* 36px */
.font5 {
    font-size: 2.25rem;
    font-weight: 800;
}
/* 32px */
.font6 {
    font-size: 2rem;
    font-weight: 700;
}
/* 28px */
.font7 {
    font-size: 1.75rem;
    font-weight: 900;
}
/* 24px */
.font8 {
    font-size: 1.5rem;
    font-weight: 900;
}
/* 18px */
.font9 {
    font-size: 1.125rem;
    font-weight: 400;
}
/* 16px */
.font10 {
    font-size: 1rem;
    font-weight: 400;
}

/* navigation section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
}

.nav-menu {
    width: 465px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.nav-menu ul {
    display: flex;
    gap: 50px;
}

.nav-menu .nav-item {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-menu .nav-item .current {
    border: none;
    border-radius: 46px;
    border-radius: 46px;background: rgb(230, 83, 60);
    padding: 8px 35px;
}

/* banner section */
.banner {
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    gap: 155px;
}
.banner-left {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 70px;
}

/* .banner-left span {
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
} */
.banner-left p {
    width: 520px;
}

.banner-left .btn {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: flex-start;
}

.banner-left .btn .primary-btn {
   font-size: 1.125rem;
   font-weight: 600;
   background-color: rgb(230, 83, 60);
   border: none;
   width: 224px;
   height: 54px;
   border-radius: 42px;
   padding: 16px 40px;
   color: rgb(255, 255, 255); 
   cursor: pointer;
}

.banner-left .btn .primary {
    display: none;
 }

.banner-left .btn .secondary-btn {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px;
    color: rgb(255, 255, 255); 
    cursor: pointer;
 }

 .banner-right {
    position: relative;
 }

 .banner-image img {
    height: 635px;
    position: static;
 }

 .banner-card-1{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur (20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    left: -28%;
    top: 70%;
 }

 .circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 50%;
 }

 .banner-card-2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur (20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    position: absolute;
    right: -20%;
    top: 23%;
 }

.hamburger-icon {
    display: none;
}


/* Small device: upto 576 px 
Medium Device: 576px to 992 px 
Large Device: above 993 px  */

/* Syling for responsive website */
@media only screen and (max-width: 576px) {
    /* 80px */
    .font1 {
    font-size: 2.25rem; 
    font-weight: 900;
    }
    /* 70px */
    .font2 {
    font-size: 4.375rem;
    font-weight: 900;  
    }
    /* 48px */
    .font3 {
    font-size: 3rem;
    font-weight: 900;
    }
    /* 40px */
    .font4 {
    font-size: 2rem;
    font-weight: 900;
    }
    /* 36px */
    .font5 {
    font-size: 2.25rem;
    font-weight: 800;
    }
    /* 32px */
    .font6 {
    font-size: 2rem;
    font-weight: 700;
    }
    /* 28px */
    .font7 {
    font-size: 1.75rem;
    font-weight: 900;
    }
    /* 18px */
    .font8 {
    font-size: 1.125rem;
    font-weight: 900;
    }
    /* 16px */
    .font10 {
    font-size: 1rem;
    font-weight: 400;
    }

    /* 9px */
    .font11 {
        font-size: 0.7rem;
        font-weight: normal;
    }

    /* navigation section */
    .hamburger-icon{
        display: block;
    }

    .nav-menu {
        display: none;
    }

    /* banner section */
    .banner {
        flex-direction: column;
        gap: 30px;
        width: 75%;
    }

    .banner-left {
        padding-top: 20px;
    }
    .banner-left p {
        width: 285px;
    }

    .banner-left .btn .primary-btn {
        display: none;
    }

    .banner-left .btn .primary {
        display: block;
        width: 169px;
        height: 54px;
    }

    .banner-left .btn .secondary-btn {
        width: 169px;
        height: 54px;
        padding: 16px 20px;
    }

    .banner-left .btn {
        justify-content: center;
        padding-left: 95px;
    }

    .banner-image img {
        height: 450px;
        padding-left: 40px;
    }

    .banner-card-1 {
        left: -5%;
        top: 40%;
        width: 155.74px;
        height: 72.58px;
    }

    .banner-card-2 {
        right: -45%;
        top: 10%;
        width: 155px;
        height: 75px;
        padding-left: 15px;
    }
}
