* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.canvas {
    max-width: 1440px;
    width: 1180px;
    margin: 0 auto;
    padding: 3rem 0rem;
}

header {
    background: linear-gradient(black, rgba(128, 128, 128, 0.27),black);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
   border: 0.5px solid rgba(255, 255, 255, 0.3);
   width: 450px;
   height: 35px;
   border-radius: 20px;
   font-size: 1rem;
   font-weight: normal;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
}

.current {
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 16px;
    padding: 5px 25px;
    margin: 0px 45px 0px 3px;
}

.noncurrent {
    margin-right: 65px;
}

.hamburger-icon {
    display: none;
}

/* banner section */
.btn2 {
    display: none;
}

.banner {
    width: 100%;
    display: flex;
    gap: 100px;
    padding-top: 0.5rem;
}
.banner-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 6rem;
}

.banner-left h1 {
    font-size: 5rem;
    font-weight: 900;
}

.banner-left p {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(176, 176, 176);
}

.btn {
    display: flex;
    gap: 3%;
}

.btn1 {
    width: 224px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.btn1:hover {
    background-color: transparent;
    border: 2px solid rgb(230, 83, 60);
    color: rgb(230, 83, 60);
    transition: 0.4s;
}


.btn3 {
    width: 224px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.btn3:hover {
    background-color: rgb(40, 171, 17);
    border: none;
    color: white;
    transition: 0.4s;
}

.banner-right {
    width: 50%;
    height: 680px;
    background-image: url(images/Images.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position: relative;
}
.banner-card-left img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.banner-card-1 {
    width: 185px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 13px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    left: -6%;
    top: 70%;
}

.banner-card-right h4 {
    font-size: 2rem;
    font-weight: 800; 
}

.banner-card-right p {
    font-size: 0.8rem;
    font-weight: normal;
}

.banner-card-2 {
    width: 190px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 13px;
    background-color: rgba(84, 82, 82, 0.54);
    backdrop-filter: blur(8px);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 25%;
}

.banner-card-2 h4 {
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-card-2 p {
    font-size: 0.8rem;
    font-weight: normal;
}

/* habit section */
.habit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.habit h2 {
    font-size: 3rem;
    font-weight: 800;
}

.habit p {
    font-size: 0.9rem;
    font-weight: normal;
    color: grey;
}
.habit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3%;
    gap: 100px;
}

.habit-card {
    margin-bottom: 15px;
}

.habit-card img {
    border: none;
    border-radius: 50%;
    margin-bottom: 15px;
}

.habit-card h6 {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* run section */
.run {
    display: flex;
    background: rgb(33, 33, 33);
    margin-top: 3rem;
    padding: 30px 30px 30px 45px;
    border: none;
    border-radius: 15px;
    align-items: center;
}

.run-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.run-text p {
    width: 70%;
    color: rgb(176, 176, 176);
}

.run-text h1 {
    font-size: 3rem;
    font-weight: 800;
}

.btn4 {
        width: 224px;
        height: 40px;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: rgb(230, 83, 60);
        border: none;
        color: white;
        border-radius: 30px;
}
.run-image {
    width: 40%;
}

.run-image img {
    width: 100%;
    border: none;
    border-radius: 20px;
}

/* training section */
.training {
    padding-top: 6rem;
}
.training .pp {
    width: 90%;
    margin-bottom: 40px;
    color: rgb(176, 176, 176);
}

.training h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.row1 {
    width: 100%;
    height: 201.5px;
    display: grid;
    grid-template-columns: 0.7fr 1.4fr 0.9fr;
    font-size: 0.9rem;
}

.row2 {
    width: 100%;
    height: 201.5px;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1fr;
    font-size: 0.9rem;
}


.training-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.box1 {
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-1 {
    position: absolute;
    top: 77%;
    left: 10%;
}

.box2 {
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-2 {
    position: absolute;
    top: 15%;
    left: 5%;
}

.box3 {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-3 {
    position: absolute;
    top: 70%;
    left: 8%;
}

.box4 {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-4 {
    position: absolute;
    top: 10%;
    right: -4%;
}

.box5 {
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-5 {
    position: absolute;
    top: 70%;
    left: 8%;
}

.box6 {
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
    position: relative;
}

.training-text-6 {
    position: absolute;
    top: 70%;
    left: 8%;
}

/* bmi title */
.bmi-title {
    padding-left: 250px;
    margin-top: 2rem;
}
.bmi-title h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.bmi-title p {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(176, 176, 176);
}

/* bmi */
.bmi {
    background-color: rgb(34, 34, 34);
    display: flex;
    padding: 25px 0px;
}

.bmi-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.bmi-chart {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.bmi-chart h1 {
    font-size: 2rem;
    font-weight: 800;
}

.bmi-chart .table1, th, td {
    border: 2px solid #373737;
    border-collapse: collapse;
    width: 350px;
    padding: 10px 15px;
    text-align: start;
}

.bmi-chart .table1 th {
    border: 2px solid #373737;
}

.bmi-chart td {
    color: rgb(176, 176, 176);
}

.calculator {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.calculator h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.calculator p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 25px;
    color: rgb(176, 176, 176);
}

.bmi-input-row1 .place1 {
    width: 300px;
    height: 50px;
    background-color: #373737;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bmi-input-row2 .place2 {
    width: 300px;
    height: 50px;
    background-color: #373737;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bmi-input-row3 .place3 {
    width: 606px;
    height: 50px;
    background-color: #373737;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    color: rgb(176, 176, 176);
    padding: 15px;
    font-size: 1rem;
}
input::placeholder {
    color: rgb(176, 176, 176);
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
}

select {
    color: rgb(176, 176, 176);
    padding-left: 10px;
    font-size: 1rem;
    -webkit-appearance: none;
    appearance: none;
}

select:invalid {
    color: rgb(176, 176, 176);
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    padding: 14px;
}

.calculate-btn {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.bmi-input-row2 {
    display: flex;
    position: relative;
    gap: 5px;
}

.down-arrow .fa-angle-down {
    position: absolute;
    top: 25%;
    right: 12%;
    font-size: 1.2rem;
    color: rgb(176, 176, 176);
}

.bmi-input-row3 {
    display: flex;
    position: relative;
}

.down-arrow2 .fa-angle-down {
    position: absolute;
    top: 25%;
    right: 12%;
    font-size: 1.2rem;
    color: rgb(176, 176, 176);
}
/* team section */
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.team .ppp {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(176, 176, 176);
}

.team-name-plate {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.team-image {
    width: 362px;
    height: 272px;
    border: none;
    border-radius: 20px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.team-name-plate {
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 20px;
    padding: 20px;
}

.team-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-name {
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 1.5rem;
    font-weight: 800;
}

.team-designation {
    position: absolute;
    top: 85%;
    left: 10%;
    font-size: 1rem;
    font-weight: normal;
}

/* transformation story */
.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.story h1 {
    font-size: 3rem;
    font-weight: 800;
}

.story-p {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    color: rgb(176, 176, 176);
    margin-bottom: 20px;
}

.story-border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story-border h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.story-holder {
    display: flex;
    align-items: center;
    gap: 20px;
}
.story-border .story-shape {
    width: 4px;
    height: 40px;
    background-color: rgb(230, 83, 60);
}

/* story table styling */
.story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    padding: 30px 25px;
    gap: 30px;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    position: relative;
}

.story-image {
    position: relative;
}

.story-image img {
    border-radius: 10px;
}

.story-image .table2, th, tr {
    border: none;
    border-collapse: collapse;
    width: 155px;
    text-align: start;
    background-color: rgba(55, 55, 55, 0.15);
}

.story-image th {
    text-align: center;
    border: none;
    font-weight: 500;
}

.story-image tr {
    text-align: center;
    font-size: 0.7rem;
    border: none;
    font-weight: 500;
}

.story-image td {
    border: none;
}

.story-image .table2 {
    position: absolute;
    top: 40%;
    left: 1.5%;
}

.story-image .table3, th, tr {
    border: none;
    border-collapse: collapse;
    width: 155px;
    text-align: start;
    background-color: rgba(55, 55, 55, 0.15);
}

.story-image .table3 {
    position: absolute;
    top: 40%;
    right: 1.5%;
}

.story-image h3 {
    position: absolute;
    top: 0%;
    left: 1%;
}

.story-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

hr {
    width: 50%;
}

.story-text p {
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(176, 176, 176);
    text-align: justify;
    width: 97%;
}


.fa-angle-right {
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
}

.fa-angle-left {
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 50%;
    left: -0.1%;
    transform: translate(-50%, -50%);
}

.icon1circle {
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
}

.icon2circle {
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

/* food section */
.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.food .fa-utensils {
    font-size: 4rem;
    color: rgb(230, 83, 60);
}

.food h1 {
    font-size: 3rem;
    font-weight: 800;
}

.food-p {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    color: rgb(176, 176, 176);
    margin-bottom: 20px;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
}

.image-container {
    width: 230px;
    height: 230px;
}

.food-card {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
}
.food-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    text-shadow: 2px 2px 8px rgb(230, 83, 60);
    border-radius: 15px;
}

.food-heading {
    text-align: center;
    background-color: rgb(49, 48, 48);
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 0px;
    border-radius: 20px;
}

.food-text {
    width: 100%;
    height: 100px;
    font-size: 0.9rem;
    text-align: justify;
    color: rgb(176, 176, 176);
    font-weight: normal;
}

.btn5 {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: rgb(230, 83, 60);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.slide {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.slidebar span {
    width: 20px;
    height: 20px;
    background-color: rgb(230, 83, 60);
    font-size: 0.7rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.slidebar {
    font-size: 0.7rem;
    font-weight: normal;
}
/* footer section */
footer {
    background-color: rgb(34, 34, 34);
    padding: 10px 25px 35px 25px;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 100px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-card h1 {
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.contact-card p {
    font-size: 1rem;
    font-weight: normal;
    color: grey;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-info p {
    font-size: 1rem;
    font-weight: normal;
    color: grey;
}

.footer-line {
    background-color: grey;
    height: 1px;
    margin: 30px auto;
    padding: 0px;
}

.footer-text {
    margin: 0 auto;
    color: grey;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

/* styling for making site responsive */
@media only screen and (max-width: 576px) {
    .canvas {
        max-width: 320px;
        width: 80%;
        margin: 0 auto;
    }
    .nav-menu {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-icon img {
        width: 35%;
        height: 35%;
    }
    .banner {
        flex-direction: column;
        padding-top: 1rem;
        gap: 25px;
    }

    .banner-left {
        width: 100%;
        padding-top: 0.5rem;
    }

    .banner-left h1 {
        font-size: 2.7rem;
    }

    .banner-left p {
        font-size: 1rem;
    }

    .btn1 {
        display: none;
    }

    .btn2 {
        display: block;
        width: 40%;
        height: 40px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: rgb(230, 83, 60);
        border: none;
        color: white;
        border-radius: 30px;
    }

    .btn3 {
        width: 45%;
        height: 40px;
        font-size: 0.8rem;
        
    }

    .banner-right {
        width: 100%;
        height: 400px;
        margin: 0px 10px;
    }

    .banner-card-left img {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    
    .banner-card-1 {
        width: 120px;
        height: 50px;
        left: 2%;
        top: 52%;
    }
    
    .banner-card-right h4 {
        font-size: 1rem;
    }
    
    .banner-card-right p {
        font-size: 0.6rem;
    }

    .banner-card-2 {
        width: 110px;
        height: 65px;
        right: 6%;
        top: 28%;
        padding-left: 10px;
    }
    
    .banner-card-2 h4 {
        font-size: 1.2rem;
    }
    
    .banner-card-2 p {
        font-size: 0.6rem;
    }

    /* habit section */
    .habit h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    .habit-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    } 
    
    /* run section */
    .run {
        flex-direction: column;
        gap: 35px;
        padding: 20px;
        text-align: left;
        margin-top: 2.5rem;
    }

    .run-text {
        width: 100%;
    }

    .run-text h1 {
        font-size: 2rem;
    }
    .run-image {
        width: 100%;
    }
    .run-text p {
        width: 90%;
    }

    .btn4 {
        width: 90%;
        margin: 0 auto;
    }

    /* training section */
    .training {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .training p {
        width: 80%;
        text-align: left;
    }
    
    .training h1 {
        font-size: 1.8rem;
    }

    .row1 {
        width: 100%;
        height: 126.5px;
        grid-template-columns: 0.9fr 1.1fr;
        align-items: center;
    }

    .row2 {
        width: 100%;
        height: 126.5px;
        grid-template-columns: 0.9fr 1.1fr;
        align-items: center;
    }


    .training-image {
        background-position: top;
        background-size: cover;
    }

    .training-text-1 {
        position: absolute;
        top: 75%;
        left: 8%;
    }

    .training-text-2 {
        position: absolute;
        top: 15%;
        left: 8%;
    }


    .box4 .training-text-4 {
        position: absolute;
        top: 70%;
        left: 7%;
        font-size: 0.5rem;
        text-align: left;
    }
    
    .box5 .training-text-5 {
        position: absolute;
        top: 65%;
        left: 7%;
        font-size: 0.7rem;
        text-align: left;
    }
    

    .box3 {
        display: none;
    }

    .box6 {
        display: none;
    }

    /* bmi title section */
    .bmi-title {
        padding-left: 0px;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bmi-title h2 {
        font-size: 2rem;
    }
    
    .bmi-title p {
        text-align: left;
    }

    /* bmi calculator section */
    .calculator h1 {
        font-size: 1.7rem;
    }
    .calculator p {
        text-align: center;
    }
    
    .bmi {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .bmi-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .bmi-chart {
        width: 100%;
    }

    .bmi-chart h1 {
        font-size: 1.3rem;
    }

    .bmi-chart .table1 , th, tr {
        width: 100%;
    }

    .calculator {
        width: 100%;
        justify-items: flex-start;
        padding-left: 0px;
    }

    .calculator h1 {
        font-size: 1.3rem;
        margin-bottom: 50px;
    }
    .calculator p {
        text-align: left;
        width: 90%;
    }

    .bmi-input-row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3%;
    }

    .bmi-input-row1 .place1 {
        width: 100%;
    }

    .bmi-input-row2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3%;
    }

    .bmi-input-row2 .place2 {
        width: 100%;
    }

    .bmi-input-row3 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .bmi-input-row3 .place3 {
        width: 100%;
    }

    .calculate-btn {
        margin-top: 0px;
        margin-top: 15px;
    }

    /* team section */
    .team h1 {
        font-size: 2rem;
    }
    .team p {
        font-size: 0.9rem;
    }

    .team-name-plate {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-image {
        width: 280px;
        height: 250px;
    }

    /* transformation story */
    .story h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .story-p {
        font-size: 0.7rem;
        margin-bottom: 30px;
    }


    /* story table styling */
    .story-container {
        grid-template-columns: 1fr;
        padding: 30px 25px;
    }

    .story-image img {
        width: 250px;
    }

    .story-image .table2, th, tr {
        width: 100%;
    }

    .story-image td {
        text-align: center;
    }

    .story-image .table2 {
        position: static;
    }

    .story-image .table3, th, tr {
        width: 100%;
    }

    .story-image .table3 {
        position: static;
    }

    .story-image h3 {
        position: absolute;
        top: 20%;
        left: 33%;
    }

    .story-text p {
        text-align: left;
    }


    .fa-angle-right {
        top: 50%;
        right: 1.2%;
        transform: translate(35%, -50%);
        z-index: 1;
    }

    .fa-angle-left {
        top: 50%;
        left: 1%;
        transform: translate(-35%, -50%);
        z-index: 1;
    }

    .icon1circle {
        transform: translate(35%, -50%);
        z-index: 1;
    }

    .icon2circle {
        transform: translate(-35%, -50%);
        z-index: 1;
    }

    /* food section */
    .food h1 {
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
    }

    .food-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 33px;
    }

    /* footer section */
    .contact {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .contact-info h3 {
        font-size: 1rem;
    }


    .contact-card h1 {
        font-size: 2.2rem;
    }

    .contact-card p {
        font-size: 0.8rem;
    }

    .footer-text {
        font-size: 0.7rem;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .canvas {
        max-width: 768px;
        width: 80%;
        margin: 0 auto;
    }
    .nav-menu {
        display: flex;
        width: 400px;
        font-size: 0.8rem;
    }

    .current {
        margin: 0px 40px 0px 3px;
    }

    .noncurrent {
        margin-right: 65px;
    }

    .hamburger-icon {
        display: none;
    }
    
    .banner {
        flex-direction: column;
        padding-top: 1rem;
        gap: 25px;
    }

    .banner-left {
        width: 100%;
        padding-top: 0.5rem;
    }

    .banner-left h1 {
        width: 75%;
        font-size: 2.7rem;
    }

    .banner-left p {
        font-size: 1rem;
    }

    .btn1 {
        display: block;
        height: 40px;
    }

    .btn3 {
        width: 45%;
        height: 40px;
        font-size: 0.8rem;
        
    }

    .banner-right {
        width: 100%;
        height: 400px;
        margin: 0px 10px;
    }

    .banner-card-left img {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    
    .banner-card-1 {
        width: 120px;
        height: 50px;
        left: 20%;
        top: 72%;
    }
    
    .banner-card-right h4 {
        font-size: 1rem;
    }
    
    .banner-card-right p {
        font-size: 0.6rem;
    }

    .banner-card-2 {
        width: 110px;
        height: 65px;
        right: 22%;
        top: 28%;
        padding-left: 10px;
    }
    
    .banner-card-2 h4 {
        font-size: 1.2rem;
    }
    
    .banner-card-2 p {
        font-size: 0.6rem;
    }

    /* habit section */
    .habit h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    .habit-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    } 
    
    /* run section */
    .run {
        flex-direction: row;
        gap: 35px;
        padding: 20px;
        text-align: left;
        margin-top: 2.5rem;
    }

    .run-text {
        width: 100%;
    }

    .run-text h1 {
        font-size: 2rem;
    }
    .run-image {
        width: 100%;
    }
    .run-text p {
        width: 90%;
    }

    .btn4 {
        width: 90%;
    }

    /* training section */
    .training {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .training p {
        width: 80%;
        text-align: left;
    }
    
    .training h1 {
        font-size: 1.8rem;
    }

    .row1 {
        width: 100%;
        height: 126.5px;
        grid-template-columns: 0.7fr 1.4fr 0.9fr;
        align-items: center;
    }

    .row2 {
        width: 100%;
        height: 126.5px;
        grid-template-columns: 1.2fr 0.8fr 1fr;
        align-items: center;
    }


    .training-image {
        background-position: top;
        background-size: cover;
    }

    .training-text-1 {
        position: absolute;
        top: 75%;
        left: 8%;
    }

    .training-text-2 {
        position: absolute;
        top: 15%;
        left: 8%;
    }

    .training-text-3 {
        position: absolute;
        top: 15%;
        left: 8%;
        font-size: 0.7rem;
    }

    .training-text-6 {
        position: absolute;
        top: 70%;
        left: 8%;
        font-size: 0.7rem;
    }


    .box4 .training-text-4 {
        position: absolute;
        top: 70%;
        left: 7%;
        font-size: 0.7rem;
        text-align: left;
    }
    
    .box5 .training-text-5 {
        position: absolute;
        top: 65%;
        left: 7%;
        font-size: 0.7rem;
        text-align: left;
    }
    

    .box3 {
        display: block;
    }

    .box6 {
        display: block;
    }

    /* bmi title section */
    .bmi-title {
        padding-left: 0px;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bmi-title h2 {
        font-size: 2rem;
    }
    
    .bmi-title p {
        text-align: left;
    }

    /* bmi calculator section */
    .calculator h1 {
        font-size: 1.7rem;
    }
    .calculator p {
        text-align: center;
    }
    
    .bmi {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .bmi-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .bmi-chart {
        width: 100%;
    }

    .bmi-chart h1 {
        font-size: 1.3rem;
    }

    .bmi-chart .table1, th, tr {
        width: 100%;
    }

    .calculator {
        width: 100%;
        justify-items: flex-start;
        padding-left: 0px;
    }

    .calculator h1 {
        font-size: 1.3rem;
        margin-bottom: 50px;
    }
    .calculator p {
        text-align: left;
        width: 90%;
    }

    .bmi-input-row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5%;
    }

    .bmi-input-row1 .place1 {
        width: 100%;
    }

    .bmi-input-row2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5%;
    }

    .bmi-input-row2 .place2 {
        width: 100%;
    }

    .bmi-input-row3 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .bmi-input-row3 .place3 {
        width: 100%;
    }

    .calculate-btn {
        margin-top: 0px;
        margin-top: 15px;
    }

    .down-arrow .fa-angle-down {
        right: 5%;
    }

    .down-arrow2 .fa-angle-down {
        right: 5%;
    }
    
    /* team section */
    .team h1 {
        font-size: 2rem;
    }
    .team p {
        font-size: 0.9rem;
    }

    .team-name-plate {
        grid-template-columns: repeat(3, 2fr);
        gap: 10px;
    }

    .team-image {
        width: 200px;
        height: 170px;
    }

    .team-name {
        font-size: 1rem;
    }

    .team-designation {
        font-size: 0.8rem;
    }

    /* story table styling */
    .story-container {
        grid-template-columns: 1fr;
        
    }

    .story-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* food section */
    .food h1 {
        font-size: 2.8rem;
        font-weight: 800;
        text-align: center;
    }

    .food-p {
        font-size: 0.9rem;
        font-weight: normal;
        text-align: center;
        color: rgb(176, 176, 176);
        margin-bottom: 20px;
    }

    .food-container {
        grid-template-columns: repeat(2, 2fr);
    }

    /* footer section */
    .contact {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .contact-card h1 {
        font-size: 2rem;
    }

    .contact-card p {
        font-size: 0.5rem;
    }

    .contact h3 {
        font-size: 1rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .footer-text {
        padding: 15px;
    }
    
}